*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: black;

}
#navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    height:100px;
    
}
nav a{
    color: white;
}
li{
    flex: 1;
}
main{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: gainsboro;
    height: 50vw;
}
main .profile{
    box-sizing:border-box;
    display: flex;
    padding: 1%;
    align-items: center;
    height:400px;

}
.profile .accueil{
    flex: 1;

}
main .profile img{
    width: 50%;
    height: auto;
    
}
.profile .message{
    flex: 1;
    height: 100%;
}
.profile .slider{
    flex: 1;
    height: 100%;
    margin: 1%;
}
.projet{
    position: absolute;
    right: 0%;
    top: 500px;
    margin: 2%;

}
.tecno{
    position: absolute;
    top: 500px;
    margin: 2%;
}
.tecno ul{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 5%;
    justify-content: center;

}
.projet ul{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 5%;
    justify-content: center;
}
.tecno li{
    flex: 1;
    padding: 1%;
}
.projet li{
    flex: 1;
    padding: 1%;

}
.site{
    position: absolute;
    right: 500px;
    top: 500px;
    left: 500px;
    margin: 2%;

}
.site ul{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 5%;
    justify-content: center;

}
.site li{
    flex: 1;
    padding: 1%;

}

footer .footer{
    box-sizing:border-box;
    justify-content: center;
    align-content:center;
    display: flex;
    background: black;
    height: auto;
    margin-top: 2%;
    padding:2%;

}
.footer li{
    color:white;
    text-align:center;
}
.footer img{
    width: 100px;
}

