*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --first-color:blue;
}
body{
    padding: 1rem 200px 0px 200px;
}
html{
    scroll-behavior: smooth;
}

.title{
    color: var(--first-color);
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.nav-link{
    padding: 1rem;
}
.accueil{
    margin-top: 1rem;
    display: flex;
    margin-left: 0.5rem;
}
.accueil-left{
    width: 60%;
  
}
.accueil-right{
    width: 40%;
}
.img-contener{
    width: 310px;
    height: 310px;
    border-radius: 50%;
}
.img-contener img{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    object-fit: cover;
}
.accueil-left-header{
    font-size: 1rem;
}
.btn{
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
    background: none;
    font-size: 1rem;
    width: 25%;
    cursor: pointer;
    padding: 1.5rem;
    box-shadow: 0.3em 0.3em var(--first-color),inset 0.3em 0.3em var(--first-color);
}
.btn:hover{
    box-shadow: 0em 0em var(--first-color),inset 0em 0em var(--first-color);
}
.profile{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img{
    margin: 1rem;
    width: 30%;
}
.main{
    width: auto;
    margin-top: 2rem;
    display: flex;
    height: 40%;
  
}
.main-right{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin:1rem;
    width: 75%;
    height: 500px;
   
}
.title{
    text-align: center;
  
}
.cards{
    margin-top: 2rem;
    display: flex;
    justify-content:space-around;
  


}
.tecno{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.3rem 0.5rem;
    transition: all 0.3s ease-in-out;
   
}
.main-left{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0.1rem 0.3rem 0.5rem;

}
.list{
    flex: 1;
}
.tecno img{
    width: 150px;
    cursor: pointer;
    justify-content: center;
    margin: 1rem;
}
.tecno:hover p{
    color:white;
    text-align: center;
}
.tecno:hover{
    background-color: blue;

}
.tecno:hover i{
    transform: rotate(390deg);
    color: white;
}
.tecno:hover h3{
    margin-bottom: 5rem;
    color: white;
}
.tracer{
    border: 2px solid black;
    margin: 1rem;
}
.etude{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.F2I{
    flex: 2;
    margin-left:0px;
}
.list a:hover{
    background: var(--first-color);
    color: white;
}

/* personnalisation de mon cv */

